<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Speed Restaurant</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <a href="#content" class="skip-link">Menuju ke konten</a>

  <header class="header">
    <a id="menu" class="header__menu" href="#" aria-label="navigation-menu">☰</a>
    <h1>Speed Restaurant</h1>
  </header>

  <nav id="drawer" class="nav">
    <h1>Speed Restaurant</h1>
    <div>
      <a href="/">Home</a>
      <a href="#/favorite">Favorite</a>
      <a href="https://www.linkedin.com/in/dolly-ranu-7a9b71246/">About Us</a>
    </div>
  </nav>

  <div class="hero">
  </div>

  <div id="content">
    <h2 class="section-heading">Explore Restaurant</h2>

    <div class="container">
      <main class="grid">
        <div class="postCard"></div>
      </main>
    </div>
  </div>

  <footer>
    <p>Copyright &#169; Speed Rastaurant</p>
  </footer>

</body>

</html>